@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

header {
    font-family: 'Inconsolata';
    size: 19.2px;
    color: #333333;
    position: absolute;
    top: 32px;
    left: 61.6px;
    width: 106.4px;
    height: 20px;
}

@media only screen and (max-width: 937.5px) {
    header {
      top: 16px;
      left: 19.2px;
    }
}