@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

header {
    font-family: 'Inconsolata';
    size: 24px;
    color: #333333;
    position: absolute;
    top: 40px;
    left: 77px;
    width: 133px;
    height: 25px;
}

@media only screen and (max-width: 750px) {
    header {
      top: 20px;
      left: 24px;
    }
  }